extends layout

block content
  .row.banner
    .col-12
      h1 Spotify Album results
      .row
        .col-12.col-md-8
              each result in results
                table(class="table") 
                  tr
                    th Album 
                    th Artist 
                    th Release Date
                    th Album Title
                  tr
                    td: img(src=result.album)
                    td #{result.artist}
                    td #{result.release_date}
                    td #{result.name}
              else 
                p There are no album results.
              
  
