extends layout

block content
  hr
  hr
  h1 Music Historian
  p Welcome to Music Historian: Know what you hear!
  p This application was created to search for songs with the Spotify API.  
  p Type in the name of any song and in return we will respond with the many song options for you.
  
  form(action='/' method='POST' class='form')
    div(class="container")
      div(class="form-inline")
          label(for='type') Search Album :   
          input(type='text' id='type' class="form-control" name='type' placeholder='Song' required)
          input(type='submit' value='Submit' class="btn btn-primary")  
